<ion-header>
  <ion-toolbar>
    <ion-title>
      Manage Categories
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="danger">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [attr.noScroll]="true" my-modal-ou-management>
  <ion-grid scroll-grid>
    <ion-row>
      <ion-col width-67>
        <ion-list>
          <ion-item form-item *ngIf="!ou.id">
            <ion-label stacked>New Category Name</ion-label>
            <ion-input type="text" [(ngModel)]="ou.name" maxlength="50" (keyup.enter)="addNewOU()"></ion-input>
          </ion-item>
          <ion-item form-item *ngIf="ou.id">
            <ion-label stacked>Category Name</ion-label>
            <ion-input type="text" [(ngModel)]="ou.name" maxlength="50" (keyup.enter)="updateOU(ou)"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="name"></form-error>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col width-33 flex-right vertical-center>
        <add-button (click)="addNewOU()" *ngIf="!ou.id"></add-button>
        <reset-button (click)="resetOU()" *ngIf="ou.id"></reset-button>
        <update-button (click)="updateOU(ou)" *ngIf="ou.id"></update-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="allOU.length === 0">
      <ion-col>
        <div full-height true-center text-center big-text background-text>
          You don't have any Categories. You'll need to create some to add inventory.
        </div>
      </ion-col>
    </ion-row>
    <ion-row scroll-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let ou of allOU" no-margin>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col width-67 vertical-center>{{ ou.name }}</ion-col>
                <ion-col width-33 flex-right vertical-center>
                  <edit-button (click)="editOU(ou)"></edit-button>
                  <remove-button (click)="removeOU(ou)" *ngIf="ou.id !== 1"></remove-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
