my-page-reporting {
  [report-container] {
    display: flex;
    flex-direction: column;

    [header-row] {
      flex: 1;
    }

    [filter-row] {
      flex: 1;
    }

    [options-row] {
      flex: 7;
      display: flex;
      flex-direction: row;

      [scroll-list-container] {
        display: flex;
        flex-direction: column;

        [scroll-list-header] {
          flex: 1;
        }

        [scroll-list] {
          flex: 6;
          overflow: auto;
        }
      }
    }
  }
}
