# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
release
cache
visual-inventory-*
output
*.log
www
.tmp
.idea
*.metadata.json
*.ngfactory.ts
*.js.map
src/**/*.js
