<ion-header>
  <ion-navbar>
    <ion-title>Audit Log</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid scroll-grid>

    <ion-row>
      <ion-col width-20>
        <ion-item list-header shrunk-item-checkbox>
          <ion-label stacked>Filter By Location</ion-label>
          <ion-select [(ngModel)]="locationFilter" placeholder="Nothing" (ionChange)="filterData()">
            <ion-option selected="true" value="">Nothing</ion-option>
            <ion-option *ngFor="let loc of locations" [value]="loc.id">{{ loc.name }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col width-20>
        <ion-item list-header shrunk-item-checkbox>
          <ion-label stacked>Filter By Module</ion-label>
          <ion-select [(ngModel)]="moduleFilter" placeholder="Nothing" (ionChange)="filterData()">
            <ion-option selected="true" value="">Nothing</ion-option>
            <ion-option *ngFor="let mod of modules">{{ mod }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list no-margin-bottom>
          <ion-item>
            <ion-grid no-padding>
              <ion-row column-headers>
                <ion-col width-20 no-padding>Occurred At</ion-col>
                <ion-col no-padding>Message</ion-col>
                <ion-col width-10 no-padding>Module</ion-col>
                <ion-col width-10 no-padding>Location</ion-col>
                <ion-col width-10 no-padding>Terminal</ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row scroll-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let item of currentAuditItems">
            <audit-item [item]="item"></audit-item>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row scroll-row *ngIf="currentAuditItems.length === 0">
      <ion-col full-height true-center big-text background-text>
        No items match your search query.
      </ion-col>
    </ion-row>

    <ion-row *ngIf="paginationInfo && !hasSearchResults">
      <ion-col width-50 offset-25>
        <ionc-pagination
          color="light"
          (clickBeginning)="changePage(1)"
          (clickPrevious)="changePage(paginationInfo.page - 1)"
          (clickNext)="changePage(paginationInfo.page + 1)"
          (clickEnd)="changePage(paginationInfo.pageCount)"
          [pagination]="paginationInfo"></ionc-pagination>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
