<ion-header>
  <ion-navbar>
    <ion-title>Posys Point of Sale</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid full-height>
    <ion-row full-height>
      <ion-col width-67 full-height>

        <ion-row search-area>
          <ion-col>
            <omni-search
              [cancelWatcher]="omniCancelControl"
              (hasQuery)="setShowResults($event)"
              (searchResults)="setSearchResults($event)"></omni-search>
          </ion-col>
        </ion-row>

        <div body-area>
          <ion-list *ngIf="showSearchItems" no-margin-bottom header>
            <ion-item>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col width-50 no-padding>Product</ion-col>
                  <ion-col width-20 no-padding>SKU</ion-col>
                  <ion-col width-10 no-padding>Cost</ion-col>
                  <ion-col width-20 no-padding></ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>

          <ion-list has-header can-scroll *ngIf="showSearchItems">
            <ion-item no-border-bottom *ngIf="!searchItems.length">No search results.</ion-item>
            <ion-item *ngFor="let item of searchItems">
              <query-item [item]="item" (choose)="addToTransaction($event)"></query-item>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="!showSearchItems && currentTransaction.length" no-margin-bottom header>
            <ion-item>
              <ion-grid no-padding>
                <ion-row>
                  <ion-col width-10 no-padding></ion-col>
                  <ion-col width-50 no-padding>Product</ion-col>
                  <ion-col width-20 no-padding>SKU</ion-col>
                  <ion-col width-10 no-padding>Quantity</ion-col>
                  <ion-col width-10 no-padding>Tax/Cost</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>

          <ion-list has-header can-scroll *ngIf="!showSearchItems && currentTransaction.length" no-margin-bottom id="transaction-list">
            <ion-item *ngFor="let item of currentTransaction; let i = index">
              <transaction-item [item]="item" [index]="i+1"></transaction-item>
            </ion-item>
          </ion-list>

          <div full-height true-center big-text background-text *ngIf="!showSearchItems && !currentTransaction.length">
            No items in current transaction.
          </div>
        </div>

        <ion-list total-area>
          <ion-item>
            Subtotal
            <ion-note item-right>{{ subtotal | currencyFromSettings }}</ion-note>
          </ion-item>
          <ion-item>
            Tax
            <ion-note item-right>{{ tax | currencyFromSettings }}</ion-note>
          </ion-item>
          <ion-item>
            Total
            <ion-note item-right>{{ total | currencyFromSettings }}</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col width-33 full-height>
        <ion-grid>
          <ion-row>
            <ion-col main-button>
              <top-icon-button text="Hold" icon="pause" size="medium"></top-icon-button>
            </ion-col>
            <ion-col main-button>
              <top-icon-button text="Void" icon="close" size="medium"></top-icon-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col main-button>
              <top-icon-button text="Pay" icon="cash" size="medium"></top-icon-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-col main-button>
                  <top-icon-button text="Cash" icon="cash" size="medium"></top-icon-button>
                </ion-col>
                <ion-col main-button>
                  <top-icon-button text="Check" icon="cash" size="medium"></top-icon-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col main-button>
                  <top-icon-button text="Credit" icon="card" size="medium"></top-icon-button>
                </ion-col>
                <ion-col main-button>
                  <top-icon-button text="Debit" icon="card" size="medium"></top-icon-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
