my-page-home {

  ion-grid[vertical-center] {
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  [height-25] {
    height: 25%;

    button {
      height: 100%;
    }
  }

}
