<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ stockItem.id ? 'Update' : 'Add' }} Inventory Item
    </ion-title>
    <ion-buttons start>
      <add-button (click)="create()" *ngIf="!stockItem.id"></add-button>
      <update-button (click)="update()" *ngIf="stockItem.id"></update-button>
      <button ion-button (click)="dismiss()">
        <span color="danger">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <ion-list>

          <ion-item form-item required>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" [(ngModel)]="stockItem.name" maxlength="50"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="name"></form-error>
          </ion-item>

          <ion-item form-item>
            <ion-label stacked>Description</ion-label>
            <ion-textarea [(ngModel)]="stockItem.description" maxlength="500"></ion-textarea>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="description"></form-error>
          </ion-item>

          <ion-item form-item required>
            <ion-label stacked>Stock Keeping Unit (SKU)</ion-label>
            <ion-input type="text" [(ngModel)]="stockItem.sku" maxlength="50"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="sku"></form-error>
          </ion-item>

          <ion-item form-item required>
            <ion-label stacked>Organizational Unit</ion-label>
            <ion-select [(ngModel)]="stockItem.organizationalunitId">
              <ion-option *ngFor="let ou of allOU | async" value="{{ou.id}}">{{ou.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="organizationalunitId"></form-error>
          </ion-item>

          <ion-item form-item required>
            <ion-label stacked>Quantity</ion-label>
            <ion-input type="number" [(ngModel)]="stockItem.quantity"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="quantity"></form-error>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col width-50>
        <ion-list>

          <ion-item form-item>
            <ion-label stacked>Taxable</ion-label>
            <ion-checkbox [(ngModel)]="stockItem.taxable"></ion-checkbox>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="taxable"></form-error>
          </ion-item>

          <ion-item form-item required>
            <ion-label stacked>Consumer Cost</ion-label>
            <ion-input type="number" [(ngModel)]="stockItem.cost"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="cost"></form-error>
          </ion-item>

          <ion-item form-item>
            <ion-label stacked>Vendor Purchase Price</ion-label>
            <ion-input type="number" [(ngModel)]="stockItem.vendorPurchasePrice"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="vendorPurchasePrice"></form-error>
          </ion-item>

          <ion-item form-item>
            <ion-label stacked>Stock ID (vendor-tracking)</ion-label>
            <ion-input type="text" [(ngModel)]="stockItem.stockCode" maxlength="50"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="stockCode"></form-error>
          </ion-item>

          <ion-item form-item>
            <ion-label stacked>Reorder Alert Threshold</ion-label>
            <ion-input type="number" [(ngModel)]="stockItem.reorderThreshold"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="reorderThreshold"></form-error>
          </ion-item>

          <ion-item form-item>
            <ion-label stacked>Reorder Up-To Quantity</ion-label>
            <ion-input type="number" [(ngModel)]="stockItem.reorderUpToAmount"></ion-input>
          </ion-item>
          <ion-item small-item>
            <form-error [errorObj]="formErrors | async" key="reorderUpToAmount"></form-error>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
