<ion-header>
  <ion-toolbar>
    <ion-title>
      Mass Inventory Management
    </ion-title>
    <ion-buttons start>
      <import-button (click)="doImport()" *ngIf="mode === 'Import'"></import-button>
      <export-button (click)="doExport()" *ngIf="mode === 'Export'"></export-button>
      <button ion-button (click)="dismiss()">
        <span color="danger">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content my-modal-ivmanage>
  <ion-grid>
    <ion-row *ngIf="mode === 'Import'">
      <ion-col vertical-center>
        <input type="file" id="inventory-upload" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="hasAborted">
      <ion-label color="danger">All items must have a Name, SKU, Cost > 0, Quantity >= 0.</ion-label>
    </ion-row>
    <ion-row *ngFor="let column of columns">
      <ion-grid>
        <ion-row>
          <ion-col width-10 vertical-center>
            <ion-item shrunk-item-checkbox no-border-bottom>
              <ion-checkbox [(ngModel)]="column.shouldUse" [disabled]="mode === 'Import' && column.disable"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col width-20 vertical-center>
            {{ column.name }}
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked>Alias</ion-label>
              <ion-input type="text" [(ngModel)]="column.alias"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
